/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
     content: "\f10e"; 
}
a:hover { text-decoration: none }

.section-padding {
    padding: 80px 0;
}
.section-borders span {
    background: #6aaf08 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    width: 50px;
}
.row {
}
.section-borders span.black-border {
    background: #333 none repeat scroll 0 0;
    margin: 0 10px;
    width: 30px;
}
.section-title h2 {
    font-size: 35px;
}
.section-title {
    margin-bottom: 60px;
    text-align: center;
}
.client-testimonial-carousel .owl-dots div {
    background: #6aaf08 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin: 5px;
    transition: all 0.2s ease 0s;
    width: 20px;
}
.client-testimonial-carousel .owl-dots div .active {
    background: #333 none repeat scroll 0 0;
    width: 30px;
}
.client-testimonial-carousel .owl-dots div.active {
    background: #333 none repeat scroll 0 0;
    width: 30px;
}
.client-testimonial-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
}
.single-testimonial-item {
    box-shadow: 0 0 2px #dadfd3;
    margin: 2px;
    position: relative;
    padding-left: 81px;
    font-style: italic;
    padding-bottom: 20px
} 

.single-testimonial-item h3 {
    font-size: 20px;
    font-style: normal;
    margin-bottom: 0;
}
.single-testimonial-item h3 span {
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
}

.single-testimonial-item::before {
    position: absolute;
    color: #6aaf08;
    content: "\f10e";
    font-family: fontAwesome;
    font-size: 20px;
    left: 20px;
    line-height: 30px;
    margin-top: -15px;
    top: 50%;
}
.single-testimonial-item::after {
    position: absolute;
    left: 60px;
    background: #eff1ec;
    content: " ";
    height: 70%;
    left: 60px;
    position: absolute;
    top: 15%;
    width: 1px;
}
